extends ../layout
block content
  .pb-2.mt-2.mb-4.border-bottom
    if messages.errors
      .alert.alert-danger.fade.in
        for error in messages.errors
          div= error.msg
      
    h3 Events

    if events.length == 0
        p No events. Add some!
        hr
    else
        table.table.table.table-striped.table-bordered
             th Created 
             th Event Starts At
             th Title
             th Shortcode
             th Location
             th

             each item in events
                tr
                    td #{moment(item.createdAt).format('lll')}<br>#{moment(item.createdAt).fromNow()}
                    td #{moment(item.startsAt).format('lll')}<br>#{moment(item.startsAt).fromNow()}
                    td #{item.title}
                    td #{item.shortCode}
                    td #{item.location}
                    td
                      form(method='POST', action="/events/delete")
                       input(type='hidden', name='_csrf', value=_csrf)
                       input(type='hidden', name='_id', value=item._id)
                       div.form-group
                         - var delname = "delete-" + item._id
                         - var subid = "submit-" + item._id
                         - var slotlink = "/events/" + item._id + "/slots"
                         - var mentorlink = "/events/" + item._id + "/mentors"
                         input.btn.btn-danger(id=delname, type='submit', name=delname, value='Delete')
                      form(method='GET', action=slotlink)
                       input(type='hidden', name='_id', value=item._id)
                       div.form-group
                         input.btn.btn-success(id=subid, type='submit', name=subid, value='Manage Slots')
                      form(method='GET', action=mentorlink)
                       input(type='hidden', name='_id', value=item._id)
                       div.form-group
                         input.btn.btn-success(id=subid, type='submit', name=subid, value='Manage Mentors')
    h3 Create Event
    form(method='POST' action='/events')
      input(type='hidden', name='_csrf', value=_csrf)
      div.form-group
        label(for='name') Title
        input#name.form-control(type='text', placeholder='My Event' name='title')
      div.form-group
        label(for='shortcode') Short code (available at https://memberparty.com/go/shortcode)
        input#shortcode.form-control(type='text', placeholder='myevent' name='shortcode')
      div.form-group
        label(for='location') Location
        input#location.form-control(type='text', placeholder='Some Venue' name='location')
      div.form-group
        label(for='startsat') Starts At
        input#startsat.form-control(type='datetime-local', name='startsat')
      div.form-group
        input#submit.btn.btn-primary(type='submit', name='submit')
